{% extends "base_generic.html" %}
  {% load static %}

{% block content %}
  <!-- Header/Home -->
<div id="main">
  <header class="w3-container w3-padding-32 w3-center w3-black" id="home">
    <p>The Law Office Of</p>
    <h1 class="w3-jumbo"><span class="w3-hide-small"></span>Karl R. Haynus</h1>
    <p>P.L.L.C</p>
    <img src="{% static 'images/karl34.png' %}" alt="Karl R Haynus" width="900" height="1200"  class="w3-image">
  </header>

    <!-- About Section -->
  <div class="w3-content w3-justify w3-text-grey w3-padding-64" id="about">
    <hr style="width:200px" class="w3-opacity">
    <h2>Experience is the oracle of truth; and where its responses are unequivocal, they ought to be conclusive and sacred.” </h2>
    <h3 class="w3-text-light-grey">– Alexander Hamilton</h3>
    <h2 class="w3-padding-16 w3-text-light-grey">My Skills</h2>
    <p class="w3-wide">Corporate Law</p>
    <div class="w3-white">
      <div class="w3-dark-grey" style="height:28px;width:95%"></div>
    </div>
    <p class="w3-wide">Mergers and Acquisitions</p>
    <div class="w3-white">
      <div class="w3-dark-grey" style="height:28px;width:85%"></div>
    </div>
    <p class="w3-wide">Pro Bono</p>
    <div class="w3-white">
      <div class="w3-dark-grey" style="height:28px;width:80%"></div>
    </div><br>
  </div>

  <!-- Contact Section -->
  <div class="w3-padding-64 w3-content w3-text-grey" id="contact">
    <h2 class="w3-text-light-grey">Contact Me</h2>
    <hr style="width:200px" class="w3-opacity">

    <div class="w3-section">
      <p><i class="fa fa-map-marker fa-fw w3-text-white w3-xxlarge w3-margin-right"></i> Minneapolis, US</p>
      <p><i class="fa fa-phone fa-fw w3-text-white w3-xxlarge w3-margin-right"></i> Phone: (612) 867-5309</p>
      <p><i class="fa fa-envelope fa-fw w3-text-white w3-xxlarge w3-margin-right"> </i> Email: karl@haynus.com</p>
    </div><br>
    <p>Let's get in touch. Send me a message:</p>

    <form action="/action_page.php" target="_blank">
      <p><input class="w3-input w3-padding-16" type="text" placeholder="Name" required name="Name"></p>
      <p><input class="w3-input w3-padding-16" type="text" placeholder="Email" required name="Email"></p>
      <p><input class="w3-input w3-padding-16" type="text" placeholder="Subject" required name="Subject"></p>
      <p><input class="w3-input w3-padding-16" type="text" placeholder="Message" required name="Message"></p>
      <p>
        <button class="w3-button w3-light-grey w3-padding-large" disabled type="submit">
          <i class="fa fa-paper-plane"></i> SEND MESSAGE
        </button>
      </p>
    </form>
  </div>
</div>
      
{% endblock %}